* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    font-size: 20px;
    text-align: center;
}

#array {
    background-color: powderblue;
    height: 210px;
    width: 310px;
    margin: auto;
    position: relative;
    margin-top: 64px;
}

.block {
    width: 28px;
    background-color: #504848;
    position: absolute;
    bottom: 0;
    transition: 0.2s all ease;
}

.block_id {
    position: absolute;
    color: black;
    margin-top: -20px;
    width: 100%;
    text-align: center;
    font-weight: lighter;
}
.bubble-about {
    border: 5px solid #0000ff;
    padding: 20px;
    border-radius: 18px;
    font-family: "Trebuchet MS", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    width: 600px;
    margin: auto;
}
